#mainContent {
  padding-top: 7vh;
  width: 100vw;
  min-height: 85vh;
  background-color: rgba(34, 39, 46, 255);
  display: flex;
  justify-content: center;
}
app-menu{
  position: fixed;
  right: 0;
  top: 0.5vh;
}

@media (min-width: 1024px){
  #mainContent{
    justify-content: left;
    padding-left: 5vw;
  }
}